#core api
fastapi
uvicorn
python-multipart
pydantic
flask

#Langchain + openai
langchain 
langchain-openai
langchain-community
openai
tiktoken

#Document processing
PyPDF2
python-docx
docx2txt
unstructured
unstructured[all]
unstructured[pdf]
python-magic

#vector similarity
faiss-cpu
chromadb

#AWS
boto3
mangum

#Utilities
numpy
pandas
scikit-learn
python-dotenv
requests

#Dev/CI
pytest
black
flake8

ipykernel 

-e .